<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Sobre mim</h1>
            <p>Oi, sou Daniel Carvalho e atuo como Full Stack na HeadMind Partners</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>